# Ignore node_modules
node_modules
frontend/node_modules

# Ignore build output
frontend/.next
frontend/!.next/static
frontend/!.next/standalone

# Ignore version control files
.git
.gitignore

# Ignore logs and temporary files
*.log
*.tmp

# Ignore other unnecessary files
README.md

# Ignore Dockerfile and .dockerignore itself
frontend/Dockerfile
.dockerignore

# Ignore IDE files
.idea