
.header-container{
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex:1;
    flex-direction: row;
    min-height: 100px;
    max-height: 100px;
}


.header-left-side{
    flex:1;
    display: flex;
}


.header-center{
    flex:1;
    display: flex;
    justify-content: center;
    user-select: none;
    text-align: center;
    align-self: center;
}

.header-right-side{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2vw;
    align-items: center;
}


.header-title-text {

    min-width: fit-content;
    overflow: auto;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'ABeeZee';
    margin-right: 20px;
    margin-left: 20px;
    user-select: none;
}



.app-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: margin 0.3s ease-out, width 0.3s ease-out;
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
}


.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.header-right-side {
    display: flex;
    align-items: center;
}
