pytest
pytest-mock
pytest-cov
pytest-xdist
pytest-asyncio
pytest-jsonschema
pytest-bdd
pytest-json
pytest-html
pytest-ordering
pytest-timeout
pytest-loguru
pytest-dotenv
faker
# Additional Testing Tools
httpx

anyio
